# Dependências
node_modules/

# Uploads
uploads/

# Android
android/.gradle/
android/build/
android/app/build/
android/app/release/

# iOS
ios/App/Pods/
ios/App/build/
ios/DerivedData/
DerivedData/

# WhatsApp
sdos-whatsapp-teste/
**/.wwebjs_cache/
**/.wwebjs_auth/

# Builds
*.apk
*.aab
*.ipa
*.zip
*.rar

# Ambiente
.env
.env.*

# Firebase / credenciais privadas
firebase-service-account.json

# Apple APNs private key
*.p8
AuthKey_*.p8

# Logs
*.log
npm-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
